src/jade/index.jade
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(name="charset" content="utf-8")
		meta(name="X-UA-Compatible" content="IE=edge")
		meta(name="keywords" content="")
		meta(name="description" content="")

		meta(name="theme-color" content="#2b5b7c")
		meta(name="format-detection" content="telephone=no")

		meta(name="og:title" content="Бесплатная экскурсия по новостройкам Казани")
		meta(name="og:description" content="")
		meta(name="og:site_name" content="http://жк-казань.рф")
		meta(name="og:image" content="http://жк-казань.рф/img/bg-intro.jpg")

		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="HandheldFriendly" content="True")
		meta(name="MobileOptimized" content="320")

		title Бесплатная экскурсия по новостройкам Казани
		link(rel="stylesheet" href="css/bundle.min.css" media="all")
		link(rel="icon" href="/favicon.ico")

	body
		header.header
			.container.header__container
				a.header__logo(href="#") экскурсия по <br>новостройкам Казани

				nav.header__right-bar
					a.header__link.js-scroll-to(href="#ipoteka") Ипотека 10,25%
					a.header__link.js-scroll-to(href="#rassrochka") Рассрочка 0%
					p.header__phone 203-26-86

		.intro#intro
			.container.intro__container
				h1.intro__title <span>Бесплатная экскурсия</span> по новостройкам Казани
				h2.intro__subtitle выберите жилой комплекс и <span>скачайте расписание экскурсий</span>

				.intro__zhk-list(role="list")
					.intro__zhk(role="listitem")
						p.intro__zhk-title ЖК Весна
						img.intro__zhk-img.js-popup(src="img/zhk-vesna.jpg" href="#zhk-vesna")
						.intro__zhk-bar
							a.intro__zhk-btn.yellow-btn.js-popup(href="#zhk-vesna")
								span.ink
								| Скачать расписание
					.intro__zhk(role="listitem")
						p.intro__zhk-title ЖК Романтика
						img.intro__zhk-img.js-popup(src="img/zhk-romantika.jpg" href="#zhk-romantika")
						.intro__zhk-bar
							a.intro__zhk-btn.yellow-btn.js-popup(href="#zhk-romantika") 
								span.ink
								| Скачать расписание
					.intro__zhk(role="listitem")
						p.intro__zhk-title ЖК Светлая долина
						img.intro__zhk-img.js-popup(src="img/zhk-svetlaya-dolina.jpg" href="#zhk-svetlaya-dolina")
						.intro__zhk-bar
							a.intro__zhk-btn.yellow-btn.js-popup(href="#zhk-svetlaya-dolina")
								span.ink
								| Скачать расписание
					.intro__zhk(role="listitem")
						p.intro__zhk-title ЖК 21 век
						img.intro__zhk-img.js-popup(src="img/zhk-21-vek.jpg" href="#zhk-21-vek")
						.intro__zhk-bar
							a.intro__zhk-btn.yellow-btn.js-popup(href="#zhk-21-vek")
								span.ink
								| Скачать расписание
					.intro__zhk(role="listitem")
						p.intro__zhk-title ЖК Арт Сити
						img.intro__zhk-img.js-popup(src="img/zhk-art-siti.jpg" href="#zhk-art-siti")
						.intro__zhk-bar
							a.intro__zhk-btn.yellow-btn.js-popup(href="#zhk-art-siti")
								span.ink
								| Скачать расписание
					.intro__zhk(role="listitem")
						p.intro__zhk-title ЖК Царево
						img.intro__zhk-img.js-popup(src="img/zhk-tsarevo.jpg" href="#zhk-tsarevo")
						.intro__zhk-bar
							a.intro__zhk-btn.yellow-btn.js-popup(href="#zhk-tsarevo")
								span.ink
								| Скачать расписание

		.excursion#excursion
			.container.excursion__container
				h3.excursion__title
					span.excursion__title-first Вы приглашены! 
					span.excursion__title-second Посетите 
					span.excursion__title-third <br>Бесплатную 
					span.excursion__title-fourth экскурсию

				.excursion__info
					.excursion__info-about
						p.excursion__info-text Во время экскурсии Вы:
						ul.excursion__info-list
							li.excursion__info-listitem реально оцените готовность новостроек
							li.excursion__info-listitem ознакомитесь с отделкой квартир
							li.excursion__info-listitem оцените местоположение жилого комплекса

					.excursion__info-order
						p.excursion__info-text 1. Введите номер телефона
						p.excursion__info-text 2. Жмите “Записаться”
						span.excursion__info-arrow

					form.form.excursion__info-form(action="#" method="POST")
						input.form__input(type="tel" name="phone" placeholder="8 (___) ___-__-__" required)
						input(type="hidden" name="form_type" value="Запись на экскурсию")
						button.form__submit.yellow-btn(type="submit")
							span.ink
							| Записаться

					p.excursion__info-left Осталось <span>3</span> свободных места

				p.excursion__how-much Уже <b>3578</b> человек посетило <strong>Бесплатную</strong> экскурсию по новостройкам

				figure.excursion__photos
					img.excursion__photo(src="img/excursion-photo-1.jpg")
					img.excursion__photo(src="img/excursion-photo-2.jpg")

		.order#order
			.container.order__container
				h3.order__title Рассчитайте ипотеку или рассрочку

				.order__content
					.order__mortgage#ipoteka
						h4.order__subtitle Ипотека от 10,25%
						figure.order__banks
							img.order__bank(src="img/logo-vtb24.png")
							img.order__bank(src="img/logo-sberbank.png")
							img.order__bank(src="img/logo-absolutbank.png")
							img.order__bank(src="img/logo-ak-bars-bank.png")
						span.order__more-banks и еще более 10 банков
						a.order__btn.yellow-btn.js-popup(href="#mortgage")
							span.ink
							| Рассчитать ипотеку

					.order__installments#rassrochka
						h4.order__subtitle Рассрочка 0%
						p.order__installments-terms <span>До 10 лет</span> от застройщика
						a.order__btn.yellow-btn.js-popup(href="#installments")
							span.ink
							| Рассчитать рассрочку

		footer.footer
			.container.footer__container
				p.footer__text Остались вопросы? Позвоните по телефону: <span>203-26-86</span>
				small.footer__copyrights Вся представленная информация на сайте не является публичной офертой. Ипотека предоставляется банками партнерами. Условия рассрочки индивидуальные по каждому застройщику. Экскурсия по жилым комплексам бесплатная от застройщиков партнеров: Унистрой, Сити-строй, Ак барс недвижимость. Жилые комплексы: ЖК Весна, ЖК Арт сити, ЖК Царево, ЖК Романтика, ЖК Голливуд, ЖК Светлая долина, ЖК 21 век, ЖК Солнечный город, ЖК Тулпар. Информация по тел.: 203-26-86 <a class="js-popup" href="#terms">Политика конфиденциальности.</a> Казань 2011-2017.

		.modal.mfp-hide#zhk-vesna
			p.modal__title ЖК Весна - скачайте <br>расписание экскурсий
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="ЖК Весна")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать

		.modal.mfp-hide#zhk-romantika
			p.modal__title ЖК Романтика - скачайте <br>расписание экскурсий
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="ЖК Романтика")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать

		.modal.mfp-hide#zhk-svetlaya-dolina
			p.modal__title ЖК Светлая долина - <br><span>скачайте расписание экскурсий</span>
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="ЖК Светлая долина")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать

		.modal.mfp-hide#zhk-21-vek
			p.modal__title ЖК 21 век - скачайте <br>расписание экскурсий
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="ЖК 21 век")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать

		.modal.mfp-hide#zhk-art-siti
			p.modal__title ЖК Арт Сити - скачайте <br>расписание экскурсий
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="ЖК Арт Сити")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать

		.modal.mfp-hide#zhk-tsarevo
			p.modal__title ЖК Царево - скачайте <br>расписание экскурсий
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="ЖК Царево")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать

		.modal.mfp-hide#installments
			p.modal__title Специалист по рассрочке <br>рассчитает вам платежи
			p.modal__text Для этого укажите свои контакты <br>и ожидайте звонка для бесплатного <br>расчета ежемесячных платежей
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="Расчет рассрочки")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Получить расчет

		.modal.mfp-hide#mortgage
			p.modal__title Ипотечный специалист <br>рассчитает вам платежи
			p.modal__text Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="Расчет ипотеки")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Получить расчет

		.modal.modal_terms.mfp-hide#terms
			p.modal__title Политика конфиденциальности
			p.modal__text Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы.
			p.modal__title Сбор и использование персональной информации
			p.modal__text Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним. От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами. Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию
			p.modal__title Какую персональную информацию мы собираем
			ul.modal__text
				li Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.
				li Как мы используем вашу персональную информацию
				li Собираемая нами персональная информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях.
				li Время от времени, мы можем использовать вашу персональную информацию для отправки важных уведомлений и сообщений.
				li Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и предоставления Вам рекомендаций относительно наших услуг.
				li Если вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления такими программами.
			p.modal__title Раскрытие информации третьим лицам
			p.modal__text Мы не раскрываем полученную от Вас информацию третьим лицам.
			p.modal__title Исключения
			p.modal__text В случае если необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о вас, если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях. В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.
			p.modal__title Защита персональной информации
			p.modal__text Мы предпринимаем меры предосторожности — включая административные, технические и физические — для защиты вашей персональной информации от утраты, кражи, и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.

		.modal.modal_terms.mfp-hide#thanks
			p.modal__title Вы записаны на экскурсию. <br>Вам перезвонят, чтобы уточнить удобное время

		script(src="js/jquery-3.2.1.min.js")
		script(src="js/bundle.min.js")

		script(src="//cdn.callbackhunter.com/cbh.js?hunter_code=ce951797a1e0919959b68ffa1adbbfd8" charset="UTF-8")
		script.
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter44517184 = new Ya.Metrika({
							id:44517184,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/44517184" style="position:absolute; left:-9999px;" alt="")

build/index.html
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <meta name="charset" content="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#2b5b7c">
    <meta name="format-detection" content="telephone=no">
    <meta name="og:title" content="Бесплатная экскурсия по новостройкам Казани">
    <meta name="og:description" content="">
    <meta name="og:site_name" content="http://жк-казань.рф">
    <meta name="og:image" content="http://жк-казань.рф/img/bg-intro.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Бесплатная экскурсия по новостройкам Казани</title>
    <link rel="stylesheet" href="css/bundle.min.css" media="all">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <header class="header">
      <div class="container header__container"><a href="#" class="header__logo">экскурсия по <br>новостройкам Казани</a>
        <nav class="header__right-bar"><a href="#ipoteka" class="header__link js-scroll-to">Ипотека 10,25%</a><a href="#rassrochka" class="header__link js-scroll-to">Рассрочка 0%</a>
          <p class="header__phone">203-26-86</p>
        </nav>
      </div>
    </header>
    <div id="intro" class="intro">
      <div class="container intro__container">
        <h1 class="intro__title"><span>Бесплатная экскурсия</span> по новостройкам Казани</h1>
        <h2 class="intro__subtitle">выберите жилой комплекс и <span>скачайте расписание экскурсий</span></h2>
        <div role="list" class="intro__zhk-list">
          <div role="listitem" class="intro__zhk">
            <p class="intro__zhk-title">ЖК Весна</p><img src="img/zhk-vesna.jpg" href="#zhk-vesna" class="intro__zhk-img js-popup">
            <div class="intro__zhk-bar"><a href="#zhk-vesna" class="intro__zhk-btn yellow-btn js-popup"><span class="ink"></span>Скачать расписание</a></div>
          </div>
          <div role="listitem" class="intro__zhk">
            <p class="intro__zhk-title">ЖК Романтика</p><img src="img/zhk-romantika.jpg" href="#zhk-romantika" class="intro__zhk-img js-popup">
            <div class="intro__zhk-bar"><a href="#zhk-romantika" class="intro__zhk-btn yellow-btn js-popup"> <span class="ink"></span>Скачать расписание</a></div>
          </div>
          <div role="listitem" class="intro__zhk">
            <p class="intro__zhk-title">ЖК Светлая долина</p><img src="img/zhk-svetlaya-dolina.jpg" href="#zhk-svetlaya-dolina" class="intro__zhk-img js-popup">
            <div class="intro__zhk-bar"><a href="#zhk-svetlaya-dolina" class="intro__zhk-btn yellow-btn js-popup"><span class="ink"></span>Скачать расписание</a></div>
          </div>
          <div role="listitem" class="intro__zhk">
            <p class="intro__zhk-title">ЖК 21 век</p><img src="img/zhk-21-vek.jpg" href="#zhk-21-vek" class="intro__zhk-img js-popup">
            <div class="intro__zhk-bar"><a href="#zhk-21-vek" class="intro__zhk-btn yellow-btn js-popup"><span class="ink"></span>Скачать расписание</a></div>
          </div>
          <div role="listitem" class="intro__zhk">
            <p class="intro__zhk-title">ЖК Арт Сити</p><img src="img/zhk-art-siti.jpg" href="#zhk-art-siti" class="intro__zhk-img js-popup">
            <div class="intro__zhk-bar"><a href="#zhk-art-siti" class="intro__zhk-btn yellow-btn js-popup"><span class="ink"></span>Скачать расписание</a></div>
          </div>
          <div role="listitem" class="intro__zhk">
            <p class="intro__zhk-title">ЖК Царево</p><img src="img/zhk-tsarevo.jpg" href="#zhk-tsarevo" class="intro__zhk-img js-popup">
            <div class="intro__zhk-bar"><a href="#zhk-tsarevo" class="intro__zhk-btn yellow-btn js-popup"><span class="ink"></span>Скачать расписание</a></div>
          </div>
        </div>
      </div>
    </div>
    <div id="excursion" class="excursion">
      <div class="container excursion__container">
        <h3 class="excursion__title"><span class="excursion__title-first">Вы приглашены! </span><span class="excursion__title-second">Посетите </span><span class="excursion__title-third"><br>Бесплатную </span><span class="excursion__title-fourth">экскурсию</span></h3>
        <div class="excursion__info">
          <div class="excursion__info-about">
            <p class="excursion__info-text">Во время экскурсии Вы:</p>
            <ul class="excursion__info-list">
              <li class="excursion__info-listitem">реально оцените готовность новостроек</li>
              <li class="excursion__info-listitem">ознакомитесь с отделкой квартир</li>
              <li class="excursion__info-listitem">оцените местоположение жилого комплекса</li>
            </ul>
          </div>
          <div class="excursion__info-order">
            <p class="excursion__info-text">1. Введите номер телефона</p>
            <p class="excursion__info-text">2. Жмите “Записаться”</p><span class="excursion__info-arrow"></span>
          </div>
          <form action="#" method="POST" class="form excursion__info-form">
            <input type="tel" name="phone" placeholder="8 (___) ___-__-__" required class="form__input">
            <input type="hidden" name="form_type" value="Запись на экскурсию">
            <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Записаться</button>
          </form>
          <p class="excursion__info-left">Осталось <span>3</span> свободных места</p>
        </div>
        <p class="excursion__how-much">Уже <b>3578</b> человек посетило <strong>Бесплатную</strong> экскурсию по новостройкам</p>
        <figure class="excursion__photos"><img src="img/excursion-photo-1.jpg" class="excursion__photo"><img src="img/excursion-photo-2.jpg" class="excursion__photo"></figure>
      </div>
    </div>
    <div id="order" class="order">
      <div class="container order__container">
        <h3 class="order__title">Рассчитайте ипотеку или рассрочку</h3>
        <div class="order__content">
          <div id="ipoteka" class="order__mortgage">
            <h4 class="order__subtitle">Ипотека от 10,25%</h4>
            <figure class="order__banks"><img src="img/logo-vtb24.png" class="order__bank"><img src="img/logo-sberbank.png" class="order__bank"><img src="img/logo-absolutbank.png" class="order__bank"><img src="img/logo-ak-bars-bank.png" class="order__bank"></figure><span class="order__more-banks">и еще более 10 банков</span><a href="#mortgage" class="order__btn yellow-btn js-popup"><span class="ink"></span>Рассчитать ипотеку</a>
          </div>
          <div id="rassrochka" class="order__installments">
            <h4 class="order__subtitle">Рассрочка 0%</h4>
            <p class="order__installments-terms"><span>До 10 лет</span> от застройщика</p><a href="#installments" class="order__btn yellow-btn js-popup"><span class="ink"></span>Рассчитать рассрочку</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container footer__container">
        <p class="footer__text">Остались вопросы? Позвоните по телефону: <span>203-26-86</span></p><small class="footer__copyrights">Вся представленная информация на сайте не является публичной офертой. Ипотека предоставляется банками партнерами. Условия рассрочки индивидуальные по каждому застройщику. Экскурсия по жилым комплексам бесплатная от застройщиков партнеров: Унистрой, Сити-строй, Ак барс недвижимость. Жилые комплексы: ЖК Весна, ЖК Арт сити, ЖК Царево, ЖК Романтика, ЖК Голливуд, ЖК Светлая долина, ЖК 21 век, ЖК Солнечный город, ЖК Тулпар. Информация по тел.: 203-26-86 <a class="js-popup" href="#terms">Политика конфиденциальности.</a> Казань 2011-2017.</small>
      </div>
    </footer>
    <div id="zhk-vesna" class="modal mfp-hide">
      <p class="modal__title">ЖК Весна - скачайте <br>расписание экскурсий</p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="ЖК Весна">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать</button>
      </form>
    </div>
    <div id="zhk-romantika" class="modal mfp-hide">
      <p class="modal__title">ЖК Романтика - скачайте <br>расписание экскурсий</p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="ЖК Романтика">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать</button>
      </form>
    </div>
    <div id="zhk-svetlaya-dolina" class="modal mfp-hide">
      <p class="modal__title">ЖК Светлая долина - <br><span>скачайте расписание экскурсий</span></p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="ЖК Светлая долина">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать</button>
      </form>
    </div>
    <div id="zhk-21-vek" class="modal mfp-hide">
      <p class="modal__title">ЖК 21 век - скачайте <br>расписание экскурсий</p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="ЖК 21 век">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать</button>
      </form>
    </div>
    <div id="zhk-art-siti" class="modal mfp-hide">
      <p class="modal__title">ЖК Арт Сити - скачайте <br>расписание экскурсий</p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="ЖК Арт Сити">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать</button>
      </form>
    </div>
    <div id="zhk-tsarevo" class="modal mfp-hide">
      <p class="modal__title">ЖК Царево - скачайте <br>расписание экскурсий</p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="ЖК Царево">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать</button>
      </form>
    </div>
    <div id="installments" class="modal mfp-hide">
      <p class="modal__title">Специалист по рассрочке <br>рассчитает вам платежи</p>
      <p class="modal__text">Для этого укажите свои контакты <br>и ожидайте звонка для бесплатного <br>расчета ежемесячных платежей</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="Расчет рассрочки">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Получить расчет</button>
      </form>
    </div>
    <div id="mortgage" class="modal mfp-hide">
      <p class="modal__title">Ипотечный специалист <br>рассчитает вам платежи</p>
      <p class="modal__text">Укажите свои контакты и сразу <br>получите расписание экскурсий <br>и презентацию жилого комплекса</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="Расчет ипотеки">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Получить расчет</button>
      </form>
    </div>
    <div id="terms" class="modal modal_terms mfp-hide">
      <p class="modal__title">Политика конфиденциальности</p>
      <p class="modal__text">Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы.</p>
      <p class="modal__title">Сбор и использование персональной информации</p>
      <p class="modal__text">Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним. От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами. Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию</p>
      <p class="modal__title">Какую персональную информацию мы собираем</p>
      <ul class="modal__text">
        <li>Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.</li>
        <li>Как мы используем вашу персональную информацию</li>
        <li>Собираемая нами персональная информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях.</li>
        <li>Время от времени, мы можем использовать вашу персональную информацию для отправки важных уведомлений и сообщений.</li>
        <li>Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и предоставления Вам рекомендаций относительно наших услуг.</li>
        <li>Если вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления такими программами.</li>
      </ul>
      <p class="modal__title">Раскрытие информации третьим лицам</p>
      <p class="modal__text">Мы не раскрываем полученную от Вас информацию третьим лицам.</p>
      <p class="modal__title">Исключения</p>
      <p class="modal__text">В случае если необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о вас, если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях. В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.</p>
      <p class="modal__title">Защита персональной информации</p>
      <p class="modal__text">Мы предпринимаем меры предосторожности — включая административные, технические и физические — для защиты вашей персональной информации от утраты, кражи, и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.</p>
    </div>
    <div id="thanks" class="modal modal_terms mfp-hide">
      <p class="modal__title">Вы записаны на экскурсию. <br>Вам перезвонят, чтобы уточнить удобное время</p>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bundle.min.js"></script>
    <script src="//cdn.callbackhunter.com/cbh.js?hunter_code=ce951797a1e0919959b68ffa1adbbfd8" charset="UTF-8"></script>
    <script>
      (function (d, w, c) {
      	(w[c] = w[c] || []).push(function() {
      		try {
      			w.yaCounter44517184 = new Ya.Metrika({
      				id:44517184,
      				clickmap:true,
      				trackLinks:true,
      				accurateTrackBounce:true,
      				webvisor:true
      			});
      		} catch(e) { }
      	});
      
      	var n = d.getElementsByTagName("script")[0],
      		s = d.createElement("script"),
      		f = function () { n.parentNode.insertBefore(s, n); };
      	s.type = "text/javascript";
      	s.async = true;
      	s.src = "https://mc.yandex.ru/metrika/watch.js";
      
      	if (w.opera == "[object Opera]") {
      		d.addEventListener("DOMContentLoaded", f, false);
      	} else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/44517184" style="position:absolute; left:-9999px;" alt=""></div>
    </noscript>
  </body>
</html>
